{
  "cosmosDb": {
    "url": "<REPLACE-WITH-URL>",
    "masterKey": "<REPLACE-WITH-MASTER-KEY>",
    "database": "<REPLACE-WITH-DATABASE>",
    "collection": "<REPLACE-WITH-COLLECTION>"
  },
  "serviceBus": {
    "connectionString": "<REPLACE-WITH-CONNECTION-STRING>"
  }
}
